
/********** THEME Hover *****************/
.cdx-theme-hover .cuadro_intro_hover{
	padding: 0px;
	position: relative;
	overflow: hidden;
	height: 200px;
	background-color:#cccccc;
	margin-bottom: 10px;
	border-radius: 2px;
}
.cdx-theme-hover .cuadro_intro_hover > p{
	text-align:center; 
	margin-top:20px;
}
.cdx-theme-hover .cuadro_intro_hover:hover .caption{
	opacity: 1;
	transform: translateY(-150px);
	-webkit-transform:translateY(-150px);
	-moz-transform:translateY(-150px);
	-ms-transform:translateY(-150px);
	-o-transform:translateY(-150px);
}
.cdx-theme-hover .cuadro_intro_hover img{
	z-index: 4;
	display: block;
	margin: -10px auto;
}
.cdx-theme-hover .cuadro_intro_hover .caption{
	position: absolute;
	top:150px;
	-webkit-transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	-o-transition:all 0.3s ease-in-out;
	-ms-transition:all 0.3s ease-in-out;
	transition:all 0.3s ease-in-out;
	width: 100%;
}
.cdx-theme-hover .cuadro_intro_hover .blur{
	background-color: rgba(0,0,0,0.7);
	height: 300px;
	z-index: 5;
	position: absolute;
	width: 100%;
}
.cdx-theme-hover .cuadro_intro_hover .caption-text{
	z-index: 10;
	color: #fff;
	position: absolute;
	height: 300px;
	text-align: center;
	top:7px;
	width: 100%;
}
.cdx-theme-hover .cuadro_intro_hover .product-price{
	font-size: 20px;
	margin-top: 32px;
	color:#fff !important;
}
.cdx-theme-hover .cuadro_intro_hover .product-price del{
	color:#fff;
}
.cdx-theme-hover .cuadro_intro_hover .product-price ins{
	background: green;
}
.cdx-theme-hover .product-title h4{
	border-top:1px solid white; 
	border-bottom:1px solid white; 
	padding:10px;
}

.cdx-theme-hover .product-title, .cdx-theme-hover .product-title:hover{
	text-decoration:none;
	color:#fff !important;
}

.cdx-theme-hover a.buy-button{
	color:#fff !important;
}